{% extends 'quizz-base.html.twig' %}

{% block title %}Question n°{{ question.id }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt centered ">
            <div class="col-lg-8 col-lg-offset-2">
                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                <h3>Voici la question du {{ question.availableAt|date('d/m/Y') }}</h3>
                <hr>
            </div>
        </div>
        <!-- /row -->
        <div class="centered">
            <h4>{{ question.question }}</h4>
            <div class="row mt">
                {% for answer in answers %}
                    <div class="col-lg-3 desc">
                        <a href="{{ path('reward', {id: question.id, idAnswer: answer.id}) }}" type="button" class="btn btn-theme btn-lg">{{ answer.answer }}</a>
                    </div>
                {% endfor %}
            </div>
            <a href="{{ path('quizz') }}" type="button" class="btn btn-theme btn-lg">Retour aux questions</a>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

{% endblock %}
